.container {
  max-width: 1200px; /* antes 1000px */
  margin: 50px auto; /* añade un poco de espacio arriba y abajo */
  background-color: #fffd9e;
  padding: 50px; /* antes 30px */
  border-radius: 20px; /* esquinas más suaves */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* sombra un poco más visible */
}

.descripcion {
  margin-bottom: 30px;
  color: #000000;
  line-height: 1.6;
  text-align: center; /* centra el texto */
}

.video-container {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  margin: 20px auto;
}

.video-container iframe {
  width: 60%;   /* tamaño más pequeño */
  max-width: 700px;
  height: 400px; /* ajusta la altura */
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


footer {
  background: #00cfb0;
  color: #000;
  text-align: center;
  padding: 1.5rem 0; /* un poco más de espacio */
  margin-top: 3rem;
  font-size: 1em;
}
