body {
  margin: 0;
  font-family: "Gill Sans Ultra Bold", "Gill Sans", "Gill Sans MT", Calibri,
    sans-serif;
}
header {
  display: flex;
  justify-content: center; /* Logo a la izquierda, menú a la derecha */
  align-items: center;
  background-color: #00cfb0; /* el color que tienes */
  padding: 10px 20px;
}

nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Logo */
.logo img {
  display: flex;
  height: 70px; /* ajusta tamaño del logo */
  cursor: pointer;
}

nav a {
  margin: 0 25px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 0 5px;
  border-right: 2px solid #020069; /* línea amarilla gallta */
  border-left: 2px solid #020069;
}
nav a:hover {
  color: #8508d8;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
