body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  background: #fdf8c6;
}

main {
  text-align: center;
  margin: 2rem auto;
  background: #fffd9e;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 0;
}
h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 0;  
  margin: 2rem auto;
}

.introduccion{
  text-align: center;
  max-width: 1000px;
  margin: 2rem auto;
}
.Titulo h2 {
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
}
h3 {
  font-size: 25px;
  text-align: center;
  text-align: justify;
  max-width: 1000px;
  margin: 2rem auto;
}

.intro p {
  font-size: 25px;
  text-align: center;
  margin-top: 0;
}

p {
  font-size: 25px;
  text-align: center;
  text-align: justify;
  max-width: 1000px;
  margin: 2rem auto;
}
.banner {
  padding: 10px; /* espacio entre el degradado y la imagen */
  background: linear-gradient(180deg,#00ddffc5, #dfff9f, #fffd9e);
}
.banner img {
  width: 90%; /* la haces más grande, prueba 100% si quieres que ocupe todo */
  max-width: 1070px; /* límite opcional para que no se deforme en pantallas grandes */
  display: block;
  margin: 0 auto; /* centrada */
}

img {
  max-width: 350px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.molinos-grid {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 2rem;
}

.molinos-grid1 {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 2rem;
}

.tipos{
text-align: center;
  max-width: 1000px;
  margin: 2rem auto;

}
.molino-card {
  background: #77f7a4;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.molino-card h3 {
  margin: 0 0 10px 0;
  font-size: 30px;
  text-align: center;
  color: #000000;
}

.molino-card img {
  width: 290px;
  height: 290px;
  justify-content: center;
  border-radius: 8px;
}
footer {
  background: #00cfb0;
  color: #000000;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}


/*.color1 {color: #00dfff;}
.color2 {color: #00e6c5;}
.color3 {color: #77f7a4;}
.color4 {color: #dfff9f;}
.color5 {color: #fffd9e;}*/