li {
  color: #000000;
  text-decoration: none;
  text-align: justify;
   font-size: 20px;
}

/* Main */

/* Secciones de instrucciones */
.game-instructions2 {
  display: flex;
  flex-direction: column;   /* 👈 texto arriba, imagen abajo */
  align-items: center;      /* centra horizontalmente */
  justify-content: center;  /* centra verticalmente */
  gap: 10px;                /* espacio entre texto e imagen */
  margin: 2rem auto;
  padding: 2rem;
  background: #fffd9e;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.game-instructions3{
   display: flex;
  flex-direction: column;   /* 👈 texto arriba, imagen abajo */
  align-items: center;      /* centra horizontalmente */
  justify-content: center;  /* centra verticalmente */
  gap: 10px;                /* espacio entre texto e imagen */
  padding: 2rem;

}

strong {
   display: flex;
  font-size: 25px;
  text-align: justify;
}

/* Texto centrado y justificado */
.instructions-text,
.instructions-text2 {
  max-width: 5000px;
  text-align: justify;
}

.instructions-text h2,
.instructions-text2 h2 {
  margin-top: 40px;  /* 👈 margen superior de 40px */
  margin-bottom: 15px;
  text-align: center;
}

/* Imagen */
.instructions-img {
  width: 900px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.Titulo h1 {
  text-align: center;
  margin-top: 40px;
  padding: 20px,auto;
}

.Titulo h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 40px; /* 👈 margen de 40px */
}

/*Ultima parte*/

.container2 {
   margin: 2rem auto;
  background: #fffd9e;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  gap: 50px; /* espacio entre cuadros */
  margin-top: 40px;/*mirar*/
}

.card {
  background-color: #cddbf7;
  padding: 37px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  width: 400px; /* tamaño de cada cuadro */
}

.download-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 18px;
  background-color: #998eda;
  color: #181717;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.download-btn:hover {
  background-color: #384c78;
  color: #ffffff;
}

footer {
  background: #00cfb0;
  color: #000000;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

/*.color1 {color: #00dfff;}
.color2 {color: #00e6c5;}
.color3 {color: #77f7a4;}
.color4 {color: #dfff9f;}
.color5 {color: #fffd9e;}*/